@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Righteous&family=Roboto:wght@300;400;500;700;900&family=Ubuntu+Mono:wght@700&display=swap');


@import 'statics';
@import 'Header';
@import 'home';
@import 'about';
@import 'skills';
@import 'contact';
@import 'media';
@import 'footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $text1;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: $color1;
}

::-webkit-scrollbar {
    background: $color1;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $color_coffee;
    border-radius: 10px;

}